{# Generate using lines #}
{% macro usings(names) %}
{%- for header in names %}
{%- if header.endswith('.h') or header.endswith('.hpp') %}
using {{ header | replace('/', '::') | replace(".h", "") | replace(".hpp", "") }};
{%- endif %}
{%- endfor %}
{% endmacro %}