#pragma once

{{ '#include "pch.h"' if use_pch }}

{% for address in addresses %}
#define ADDRESS_{{ context.abbreviation }}_{{ context.hash }}_{{ '0x%08X' % address }}  {{ '0x%08X' % address }}
{% endfor %}