#pragma once

{{ '#include "pch.h"' if use_pch }}

enum Addresses {
  {% for address in addresses %}
  ADDRESS_{{ context.abbreviation }}_{{ context.hash }}_{{ '0x%08X' % address }} = {{ '0x%08X' % address }},
  {% endfor %}
};